# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

# Authentication microservice
JWT_SECRET=replace-this-64-byte-minimum-jwt-secret-before-production-use-2026-auth
JWT_EXPIRATION=86400000
